
/* 头部搜索按钮 */
.search{
	position: fixed;
	right: 0.7rem;
	top: 0.7rem;
	height: 1.5rem;
	width: 1.5rem;
	z-index: 2;
	background-image: url(../images/干货切图/ico_searchhuang@2x.png);
	background-size: 100% 100%;	
}
.search>a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.swiper-container {
    width: 100%;
    /* height: 100%; */
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /*display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /*-webkit-align-items: center;
    align-items: center;*/
}
.swiper-container>.swiper-pagination{
	  position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #fff;
    text-align: left;
}
.swiper-container>.swiper-pagination>.swiper-pagination-bullet{
    width: 15%;
    height: 3rem;
    text-align: center;
    border-radius: 0;
    font-size: 1rem;
    line-height: 3rem;
    color: #000;
    opacity: 1;
    background-color: transparent;
}
.swiper-container>.swiper-pagination>.swiper-pagination-bullet-active{
    opacity: 1;
    color: #F8E71C;
    border-bottom: 4px solid yellow;
}
.swiper-container>.swiper-pagination>.swiper-pagination-bullet:nth-child(1):before{/*在元素的内容之前插入新内容;*/
    content:"训练";/*所插入的内容*/
}
.swiper-container>.swiper-pagination>.swiper-pagination-bullet:nth-child(2):before{
    content:"饮食";
}
.swiper-container>.swiper-pagination>.swiper-pagination-bullet:nth-child(1){
    margin-left: 23% !important;
}
.swiper-container>.swiper-pagination>.swiper-pagination-bullet:nth-child(2){
    margin-left: 23% !important;
}


/*第一屏 训练 ---------------start*/
/* 头部轮播图展示区 */
.showplay{
    height: 100%;
    width: 100%;
}
.showplay-1{
    height: 11rem;
    width: 100%;
}
.swiper-container-h {
	overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top:3rem; 
    background-color: #fff;
    position: relative;
}
.swiper-pagination-h{
    position: absolute;
    top: 9.3rem;
    z-index: 100;
}
.swiper-pagination-h > .swiper-pagination-bullet-active{
	background-color: #fff;
}
.swiper-container-h>.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper-container-h>.swiper-wrapper>.swiper-slide{
    position: relative;
    background-color: #F8E71C;
    height: 11rem;
    width: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.swiper-container-h>.swiper-wrapper>.swiper-slide span{
    position: absolute;
    width: 2.5rem;
    height: 1.4rem;
    background-color: #F8E71C;
    top: 1rem;
    left: 0;
    font-size: 0.7rem;
    line-height: 1.4rem;
    color: #fff;
    padding-right: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0.8;
}
.swiper-container-h>.swiper-wrapper>.swiper-slide a{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.swiper-container-h>.swiper-wrapper>.swiper-slide a .img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.swiper-container-h>.swiper-wrapper>.swiper-slide a .img img{
    width: 100%;
    height: 100%;
    opacity: 1;
}
/* 热门课程和查看更多 */
.showplay-2{
	  padding: 0 4%;
    height: 3.3rem;
    width: 100%;
    background-color: #fff;
    /* margin-top: 0.4rem; */
    border-top: 0.3rem solid rgba(242,242,242,1);
}
.showplay-2 span{
    line-height: 3rem;
}
.showplay-2 a{
    line-height: 3rem;
    font-size: 0.6rem;
}
/* 热门课程列表栏 */
ul.showplay-3{
    height: 100%;
    width: 100%;
    background-color:#fff;
}
ul.showplay-3>li{
    background-size: cover;
    width: 93%;
    height: 9rem;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
}
ul.showplay-3>li:last-child{
    margin-bottom: 3.5rem;
}
ul.showplay-3>li>a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}
ul.showplay-3>li>a>div.img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
ul.showplay-3>li>a>div.img>img{
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* 每个li 课程的信息 */
ul.showplay-3>li>a>div.information{
	height: 5rem;
	width: 53%;
	position: absolute;
	left: 24%;
	top: 3rem;
	font-size: 0.8rem;
}
ul.showplay-3>li>a>div.information p:nth-child(1){
	font-size: 1.2rem;
}
ul.showplay-3>li>a>div.information p:nth-child(2){
	margin: 5px 0 15px 0;
    color: #fff;
}
/*第一屏 训练 -----------------end */
/*第二屏 饮食 ---------------start*/
.showplay1{
    height: 100%;
    width: 100%;
}
.showplay1-1{
    height: 11rem;
    width: 100%;
}
.swiper-container-j {
    width: 100%;
    height: 100%;
    margin-top:3rem; 
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.swiper-pagination-j{
    position: absolute;
    top: 9.3rem;
    z-index: 100;
}
.swiper-pagination-j > .swiper-pagination-bullet-active{
	background-color: #fff;
}
.swiper-container-j>.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper-container-j>.swiper-wrapper>.swiper-slide{
    height: 11rem;
    width: 100%;
    background-image: url(../images/干货切图/pic_banner2@3x.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
/* 推荐的小黄色标签 */
.swiper-container-j>.swiper-wrapper>.swiper-slide span{
    position: absolute;
    width: 2.5rem;
    height: 1.4rem;
    background-color: #F8E71C;
    top: 1rem;
    left: 0;
    font-size: 0.7rem;
    line-height: 1.4rem;
    color: #fff;
    padding-right: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0.8;
}
.swiper-container-j>.swiper-wrapper>.swiper-slide a{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.swiper-container-j>.swiper-wrapper>.swiper-slide a .img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.swiper-container-j>.swiper-wrapper>.swiper-slide a .img img{
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* 热门饮食和查看更多 */
/* .. */
/* 删了 */
/* 推荐饮食和查看更多 */
.showplay1-3-1{
	padding: 0 4%;
    height: 3.3rem;
    width: 100%;
    background-color: #fff;
    border-top: 0.3rem solid rgba(242,242,242,1);
}
.showplay1-3-1 span{
    line-height: 3rem;
}
.showplay1-3-1 a{
    line-height: 3rem;
    font-size: 0.6rem;
}
/* 热门美食列表栏 */
ul.showplay1-4{
    height: 100%;
    width: 100%;
    background-color:#fff;
}
ul.showplay1-4>li{
    width: 93%;
    height: 9rem;
    overflow: hidden;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    position: relative;
    color: #fff;
}
ul.showplay1-4>li>a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}
ul.showplay1-4>li>a>div.img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
ul.showplay1-4>li>a>div.img>img{
  width: 100%;
  height: 100%;
  opacity: 1;
}
ul.showplay1-4>li:last-child{
	margin-bottom: 3.6rem;
}
/* 每个li 课程的信息 */
ul.showplay1-4>li>a>div.information{
	height: 5rem;
	width: 53%;
	position: absolute;
	left: 22%;
	top: 3rem;
	font-size: 0.8rem;
}
ul.showplay1-4>li>a>div.information p:nth-child(1){
	font-size: 1.2rem;
}
ul.showplay1-4>li>a>div.information p:nth-child(2){
	margin: 5px 0 15px 0;
}

/* footer------- */
.footer > a:nth-child(2) > div > span{
    color: #F8E71C;
}
