
body,html{
	background-color: #584f60;
	color: #fff;
}
a.goback{
	color: #fff;
	font-size: 35px;
	display: inline-block;
	margin: 15px 10px 25px 25px;
	text-decoration: none;
}
.wrapper{
	height: 100%;
	width: 80%;
	margin: 0 auto;
	/* background-color: #ccc; */
}
.wrapper ul.tab>li{
	font-size: 28px;
	float: left;
}
.wrapper ul.tab>li:nth-child(1){
	margin-right: 20px;
}
.wrapper ul.tab>span{
	float: left;
	font-size: 24px;
	color: #CCC;
	margin-right: 20px;
}
input{
	background-color: #584f60;
}
.products{
	font-size: 22px;
}
.main p{
	margin-top: 33px;
}
.main .phone1{
	position: relative;
	border-bottom: 2px solid #fff;
	margin-top: 33px;
}
#mobile1,#mobile2{
	padding-left: 35px;
	width: 80%;
	background-color: #584f60;
}
.main .phone1 span:after{
	bottom: 6px;
	left: 50px;
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 5px #fff solid;
	border-left: 5px transparent solid;
	border-right: 5px transparent solid;
	border-bottom: 5px transparent solid;
}
/* 模态框 star*/
/* 关闭X号 */
.main .phone1>span {
  background-color: #584f60;
}
span.close1{
	font-size: 43px;
	color: #fff;
	margin-left: 20px;
}
.modal-content{
	width: 100%;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #584f60;
}
ul.list-1{
	width: 75%;
	height: 100%;
	margin: 0 auto;
}
ul.list-1 li{
	border-bottom: 1px solid #ccc;
	line-height: 50px;
}

.modal-dialog{
	margin: 0;
	width: 100%;
	height: 100%;
}
.list-2 li{
	position: relative;
}
.list-2 li span{
	position: absolute;
	right: 0;
}
/* 模态框 end*/
.phone1 p.tip1{
	position: absolute;
	bottom: -44px;
	right: 0;
	color: red;
	font-size: 20px;
	display: none;
}
p.tip3{
	position: absolute;
	bottom: -44px;
	right: 0;
	color: red;
	font-size: 20px;
	display: none;
}
p.tip4{
	position: absolute;
	bottom: -44px;
	right: 0;
	color: red;
	font-size: 20px;
	display: none;
}
.main .phone2{
	position: relative;
	margin-top: 30px;
	border-bottom: 2px solid #fff;
}
.phone2 p.tip2{
	position: absolute;
	bottom: -44px;
	right: 0;
	color: red;
	font-size: 20px;
	display: none;
}
.main .phone2 button.take{
	position: absolute;
	right: 2px;
	top: -9px;
}
.a-1{
	font-size: 18px;
	display: block;
	margin-top: 30px;
	color: #ccc;
	text-decoration: underline;
}
button{
	border: none;
	background-color: #24c789;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	margin-top: 80px;
}
button>a:active,button>a:hover{
	color: #fff;
}
button>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 60px;
	text-decoration: underline;
}
.products .main {
  display: none;
}
.products .main.selected {
  display: block;
}
li.active{
	border-bottom: 2px solid white;
}
.p-1{
	color: #ccc;
	margin: -34px 0;
	font-size: 18px;
}
button.take{
	margin: 0;
	width: 100px;
	height: 38px;
}
button.take>a{
	line-height: 0;
	font-size: 14px;
	font-family: "微软雅黑";
}