@charset 'utf-8';
* {
  -webkit-tap-highlight-color: transparent;
}
html, body{
  font-family: PingFangSC-light, "Helvetica Neue", Helvetica, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
  background-color: #f3f3f3;
}
input, button, textarea {
  border: 1px solid #c7c7c7;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
select {
  border: 1px solid #c7c7c7;
  outline: none;
  border-radius: 0;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 头部 */
.mreq-search-box {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 15rem;
  height: 2.12rem;
  padding: .6rem .4rem;
  margin-left: -7.5rem;
  border-bottom: 2px solid #d4d4d4;
  background: #fff;
}
.mreq-search-box > a {
  display: inline-block;
}
.mreq-search-box > a > img {
  display: block;
  float: left;
  width: 5.18rem;
  height: 0.8rem;
}
.mreq-search-btnbox {
  float: right;
}
.top-search-btn {
  display: inline-block;
  float: left;
  width: .92rem;
  height: .86rem;
  margin-right: .88rem;
  background: url('../images/search_icon.png') no-repeat;
  background-size: contain;
}
.top-list-btn {
  display: inline-block;
  float: left;
  width: .92rem;
  height: .86rem;
  background: url('../images/list_icon.png') no-repeat center center;
  background-size: contain;
}
.mreq-list-ul {
  position: absolute;
  top: 2.12rem;
  right: 0;
  width: 4.6rem;
  margin-top: -1px;
  font-size: .52rem;
  color: #323232;
  border-top: 1px solid #d2d2d2;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(006,000,001,.2);
  display: none;
}
.mreq-list-ul > li {
  padding: 0 .2rem;
}
.mreq-list-ul > li > a {
  display: block;
  height: 1.8rem;
  padding: 0 .2rem;
  line-height: 1.8rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #323232;
  border-top: 1px solid #e8e8e8;
}
.mreq-list-ul > li:first-child a {
  border-top: none;
}
.mreq-list-ul > li > a .mreq-list-icon {
  position: relative;
  top: .2rem;
  display: inline-block;
  width: .84rem;
  height: .8rem;
  margin-right: .44rem;
  background: url('../images/index-list-icon.png') no-repeat;
  background-size: .84rem 8.28rem;
}
.mreq-list-ul > li > a .mreq-list-icon1 {
  background-position: 0rem 0rem;
}
.mreq-list-ul > li > a .mreq-list-icon2 {
  background-position: 0rem -1.86rem;
}
.mreq-list-ul > li > a .mreq-list-icon3 {
  background-position: 0rem -3.66rem;
}
.mreq-list-ul > li > a .mreq-list-icon4 {
  background-position: 0rem -5.46rem;
}
.mreq-list-ul > li > a .mreq-list-icon5 {
  background-position: 0rem -7.26rem;
}
/* banner */
.mreq-banner {
  width: 100%;
  margin-top: 2.12rem;
}
.mreq-banner img {
  width: 100%;
}
/* enters */
.mreq-enters {
  padding-top: 0.96rem;
  padding-bottom: 0.88rem;
  background-color: #fff;
}
.mreq-enters a {
  display: block;
  float: left;
  width: 24%;
  text-align: center;
  font-size: 0.48rem;
  color: #666666;
  margin-bottom: 0.4rem;
}
.mreq-enters a img {
  width: 2.08rem;
  height: 2.08rem;
}
/* 最新动态 */
.mreq-news {
  width: 100%;
  height: 2.32rem;
  background: url('../images/h-news-bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 0.4rem;
  padding: 0 0.6rem;
}
.mreq-news-icon {
  padding-right: 0.52rem;
  border-right: 2px solid #c5c5c5;
  height: 1.46rem;
  padding-top: 0.04rem;
  margin-top: 0.43rem;
}
.mreq-news-icon img {
  width: 1.7rem;
  height: 1.34rem;
}
.mreq-news-content {
  padding-top: 0.24rem;
  font-size: 0.6rem;
  max-width: 11.1rem;
}
.mreq-news-content p:nth-child(1) {
  padding-left: 0.52rem;
  color: #cf9e4d;
}
.mreq-news-content p:nth-child(2) {
  padding-left: 0.4rem;
  color: #333;
}
/* content */
.mreq-content {
  margin-top: 0.4rem;
  background-color: #fff;
}
.mreq-title {
  height: 1.62rem;
  line-height: 1.6rem;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  font-weight: bold;
  font-size: 0.64rem;
  color: #323232;
  padding: 0 0.6rem;
}
.mreq-title i {
  width: 0.32rem;
  height: 0.8rem;
  background-color: #cf9e4d;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.4rem;
}
.mreq-title span {
  font-size: 0.52rem;
  color: #666666;
  font-weight: normal;
  margin-left: 0.4rem;
  vertical-align: top;
}
.mreq-lists {
  padding: 0.98rem 0.6rem 1.4rem;
}
.mreq-lists a {
  float: left;
  width: 4.4rem;
  height: 3.8rem;
  box-shadow: 0 0.08rem 0.32rem rgba(0, 0, 0, .2);
  margin-right: 0.3rem;
  margin-bottom: 0.32rem;
}
.mreq-lists a:nth-child(3n) {
  margin-right: 0;
}
.mreq-lists .mreq-lists-pic {
  width: 4.4rem;
  height: 2.8rem;
  overflow: hidden;
}
.mreq-lists .mreq-lists-pic img {
  width: 100%;
}
.mreq-lists p {
  color: #666666;
  font-size: 0.48rem;
  text-align: center;
  padding-top: 0.14rem;
}
.mreq-advantage {
  width: 100%;
  height: 11.5rem;
  background: url('../images/h-bg01.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.mreq-advantage-lists {
  padding: 2.16rem 0.6rem 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.mreq-advantage-lists ul {
  width: 27.6rem;
  padding-bottom: 1.2rem;
}
.mreq-advantage-lists li {
  float: left;
  width: 5.1rem;
  height: 6.0rem;
  margin-right: 0.4rem;
}
.mreq-advantage-lists li:last-child {
  margin-right: 0;
}
.mreq-advantage-lists a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0.08rem 0.32rem rgba(0, 0, 0, .2);
  padding: 0 0.4rem;
  text-align: center;
}
.mreq-advantage-lists img {
  position: absolute;
  width: 2.0rem;
  height: 2.0rem;
  top: -1.1rem;
  left: 50%;
  margin-left: -1.0rem;
}